body {
	font-family: sans-serif;
	font-size: .9em;
	background: #eee	;
}

h1 {
	margin-top: 0;
	margin-bottom: 12px;
	padding: 0;
	font-size: 1.1em;
}

ul {
	margin-left: 0;
	padding-left: 20px;
	font-size: small;
}

.smallp {
	font-size: small;	
}

.source {
	margin-top: 16px;
	font-style: italic;
}

#midiPortsContainer {
	width: 325px;
	margin-left: 12px;
	float: left;
	/*height: 800px;*/
}

#midiinputs {
	margin-bottom: 24px;
}

#midioutputs {
	margin-bottom: 24px;
}

#midiMessagesContainer {
	float: left;
	margin-bottom: 16px
}

#jsTerm {
	margin-bottom: 8px;
}

#messageBox {
	width: 600px;
	height: 350px;
	font-family: courier;
}