body {
	font-family: sans-serif;
}

h1 {
	margin-top: 0;
	margin-bottom: 12px;
	padding: 0;
	font-size: 2em;
}

#midiPortsContainer {
	width: 25%;
	margin-right: 12px;
	float: left;
}

#midiIns {
	margin-bottom: 24px;
}

#midiMessagesContainer {

}