body {
	font-family: sans-serif;
	font-size: .9em;
	background: #eee	;
}

h1 {
	margin-top: 0;
	margin-bottom: 12px;
	padding: 0;
	font-size: 1.1em;
}

.source {
	margin-top: 16px;
	font-size: small;
	font-style: italic;
}

#midiPortsContainer {
	width: 225px;
	margin-right: 12px;
	float: left;
	height: 800px;
}

#midiinputs {
	margin-bottom: 24px;
}

#midiMessagesContainer {

}

#jsTerm {
	margin-bottom: 8px;
}

#messageBox {
	width: 640px;
	height: 350px;
	font-family: courier;
}